

<form asp-controller="HangHoa" asp-action="Search" style="display:inline-block; width: 100%; ">
    <div class="input-group">
        <!-- Input search field -->
        <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1" name="query">

        <!-- Button containing the search icon -->
        <button class="input-group-text p-3" id="search-icon-1" type="submit" style="border:none; background:none;">
            <i class="fa fa-search"></i>
        </button>
    </div>
</form>