@model bool

@if (Model==false)
{
    <a title="Đăng ký" asp-controller="KhachHang" asp-action="DangKy" class="position-relative me-4 my-auto">
        <i class="fas fa-regular fa-registered fa-2x"></i>
    </a>
    <a title="Đăng nhập" asp-controller="KhachHang" asp-action="DangNhap" class="position-relative me-4 my-auto">
        <i class="fas fa-regular fa-file-import fa-2x"></i>
    </a>
}
else
{
    <div class="nav-item dropdown">
        <a title="Profile"
           class="position-relative me-4 my-auto dropdown-toggle"
           role="button"
           data-bs-toggle="dropdown"
           aria-expanded="false">
            <i class="fas fa-regular fa-user fa-2x"></i>
        </a>
        <div class="dropdown-menu m-0 bg-secondary rounded-1 dropdown-menu-start">
            <a asp-controller="KhachHang" asp-action="Profile" class="dropdown-item">
                <i class="fas fa-regular fa-info fa-x"></i> Thông tin cá nhân
            </a>
            <a asp-controller="Cart" asp-action="MyOrder" class="dropdown-item">
                <i class="fas fa-regular fa-box-open fa-x"></i> Đơn hàng của tôi
            </a>
            <a asp-controller="KhachHang" asp-action="ChangePassword" class="dropdown-item">
                <i class="fas fa-regular fa-key fa-x"></i> Đổi mật khẩu
            </a>
            <a asp-controller="KhachHang" asp-action="DangXuat" class="dropdown-item">
                <i class="fas fa-regular fa-file-export fa-x"></i> Đăng xuất
            </a>
        </div>
    </div>

    <!--
         <a title="Đăng xuất" asp-controller="KhachHang" asp-action="DangXuat" class="my-auto">
         <i class="fas fa-regular fa-file-export fa-2x"></i>
     </a>
    -->
    
}
